.socodo {
  max-width: 100%;
}
.search-container {
  display: flex;
  column-gap: 8px;
  margin: 16px 0;
}
.so-container th {
  margin: auto;
  text-align: center !important;
}
.operation-link {
  display: block;
  width: 100%;
  text-align: center;
}
