.info-card-heading {
  text-align: center;
}
.select-container {
  display: flex;
  justify-content: center;
}
.card {
  position: relative;
  animation: fade 0.6s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.card-row {
  margin-bottom: 16px;
}
.ant-picker-panels > *:first-child button.ant-picker-header-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:first-child button.ant-picker-header-super-next-btn {
  visibility: visible !important;
}

.ant-picker-panels > *:last-child {
  display: none;
}

.ant-picker-panel-container,
.ant-picker-footer {
  width: 280px !important;
}

.ant-picker-footer-extra > div {
  flex-wrap: wrap !important;
}

.date-msg {
  text-align: center;
  color: orange;
}
td,
th {
  text-align: center !important;
}

.socodo-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
  margin: 16px 0;
}
.socodo-time-container {
  display: flex;
  justify-content: center;
}
.socodo-heading-container h1 {
  text-align: center;
}
.socodo-time-container h2 {
  margin-right: 16px;
  text-align: center;
  font-weight: 500;
}

.table-control-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.table-control-container .button {
  margin-right: 8px;
}

.row-edit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row-edit-container a {
  text-align: center;
}

@keyframes fade {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
