.auth-container {
  width: 600px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  transform: translateY(50%);
}
.form {
  padding: 8px 16px;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.auth-heading {
  width: 100%;
  color: white;
  background-color: #1677ff;
  text-align: center;
  font-size: 42px;
  padding: 8px 16px;
  border-radius: 12px;
}
