body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkblue: #04246b;
  --primaryblue: #7ba4e9;
  --greydarkblue: #344472;
}
.content-container {
  margin-top: 60px;
  padding: 16px;
}
